body {
  overflow-x: hideen;
  overflow-y: scroll;
}

#tv {
  top: 10%;
  position: absolute;
  user-select: none;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-flow: wrap;
}

#tv>div {
  padding: 1rem;
}

.tv-card {
  user-select: none;
  border-radius: 24px;
  width: 150px;
  align-content: center;
  height: 200px;
  color: #ddd;
  text-align: center;
  align-self: center;
  padding: 1rem;
  transition: 0.2s ease-in-out;
}

.tv-card:hover {
  transition: 0.2s ease-in-out;
  transform: scale(0.9);
}

.tv-label:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

img {
  user-select: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/* width */
body::-webkit-scrollbar {
  width: 1px;
}

/* Track */
body::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
}

.tv-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tv-label {
  transition: 0.2s ease-in-out;
  color: #ddd;
  margin-top: 5px;
  text-align: center;
}
